.root {
    -fx-background-color: #202124;
}

.label {
    -fx-font-size: 36px;
    -fx-background-color: #202124;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-right;
    -fx-padding: 10px;
}

.current-operation-label {
    -fx-font-size: 24px;
    -fx-background-color: #202124;
    -fx-text-fill: #b7b7b7;
    -fx-alignment: center-right;
    -fx-padding: 5px;
}

.button {
    -fx-font-size: 18px;
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}

.number-button {
    -fx-font-size: 18px;
    -fx-background-color: #555555;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}

.equals-button {
    -fx-font-size: 18px;
    -fx-background-color: #ff9800;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #555555;
    -fx-effect: dropshadow(gaussian, #888888, 10, 0.5, 0, 0);
}

.button:pressed {
    -fx-background-color: #777777;
    -fx-effect: dropshadow(gaussian, #aaaaaa, 10, 0.5, 0, 0);
}

.number-button:hover {
    -fx-background-color: #777777;
    -fx-effect: dropshadow(gaussian, #aaaaaa, 10, 0.5, 0, 0);
}

.number-button:pressed {
    -fx-background-color: #999999;
    -fx-effect: dropshadow(gaussian, #cccccc, 10, 0.5, 0, 0);
}

.equals-button:hover {
    -fx-background-color: #ffcc80;
    -fx-effect: dropshadow(gaussian, #ffab40, 10, 0.5, 0, 0);
}

.equals-button:pressed {
    -fx-background-color: #ffa726;
    -fx-effect: dropshadow(gaussian, #ff6f00, 10, 0.5, 0, 0);
}
